section.sec1{
    background-color: white;
    
}
section.sec2{
    background-color: blue;
    
    padding: 15px;
    
   
}
div.inner-box3{
    text-align: left;
  color: white;
  padding-top: 50px;
 
}
.line{
    width: 300px;
    height: 1px;
    background-color: white;
}
.box{
    width: 300px;
    height: 50px;
    background-color: white;

}
button{
    text-align: center;
    color: blue;
}
.inner-box4{
    background-color: white;
    height: 300px;
    padding: 15px;
    text-align: center;
}
.line2{
    width: 100px;
    height: 1px;
    background-color: black;
    margin: auto;
    
}
button{
    text-align: center;
    color: blue;
    
}
section.sec4{
    background-color: blue;
    /* height: 300px; */
    padding: 15px;
    
   
}
.box1{
 color: white;
}
.inner-box5{
    
    height: 300px;
    margin: 15px 0px;
    text-align: center;
    color: white;
}
.iconbox1{
    border:  1px solid white;
    border-radius: 50%;
    padding: 3px;
}
.line3{
    width: 100px;
    height: 1px;
    background-color:white;
    margin: auto;
    
}
.iconbox2{
    border: 1px solid white;
    border-radius: 50%;
    padding: 3px;
}
.line4{
    width: 100px;
    height: 1px;
    background-color:white;
    margin: auto; 
}
.iconbox3{
    border: 1px solid white;
    border-radius: 50%;
    padding: 3px;
}
.line5{
    width: 100px;
    height: 1px;
    background-color:white;
    margin: auto; 
}
section.sec5{
    background-color: black;
    padding: 15px;
   color: white;
   text-align: center;
    
   
}
button{
    text-align: center;
    color: blue;
    margin: auto;
}
section.sec6{
    background-color:white;
     
    padding: 15px;
    text-align: center;
}
.box1{
    width: 200px;
    height: 200px;
   
}
.box2{
    width: 200px;
    height: 200px;
}
.box3{
    width: 200px;
    height: 200px;
}
.box4{
    width: 200px;
    height: 200px;
}
.box5{
    width: 200px;
    height: 200px;
}
.box6{
    width: 200px;
    height: 200px;
    margin-top: 5px;
}
.box7{
    width: 200px;
    height: 200px;
    margin-top: 5px;
}
.box8{
    width: 200px;
    height: 200px;
    margin-top: 5px;
}
.box9{
    width: 200px;
    height: 200px;
    margin-top: 5px;
}
.box10{
    width: 200px;
    height: 200px;
    margin-top: 5px;
}
section.sec7{
    background-color: black;
    padding: 15px;
   color: white;
   text-align: center;
    
   
}
button{
    text-align: center;
    color: blue;
    margin: auto;
}
section.sec8{
    background-color: white;
    
    padding: 15px;
    text-align: center;
    color: gray;
    
   
   
}
.inner-box7 img{
    object-fit: cover;
    object-position: top;
}
.line6{
    width: 250px;
    height: 1px;
    background-color:lightskyblue;
    margin: auto; 
    border-top: 5px;
    
}
.type{
    color: lightskyblue;
}

@media(max-width:991px){
    div.inner-box3{
        text-align: center;

      
     
    }
    div.line{
        margin: auto;
    }
}